{% extends "../index.peb" %}

{% block content %}
<style>
    
</style>

<div class="background">
    <img class="background-image" src="/images/abstract.jpg"></img>
    <div id="title">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pc-display"
            viewBox="0 0 16 16">
            <path
                d="M8 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zm1 13.5a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0m2 0a.5.5 0 1 0 1 0 .5.5 0 0 0-1 0M9.5 1a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM9 3.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1h-5a.5.5 0 0 0-.5.5M1.5 2A1.5 1.5 0 0 0 0 3.5v7A1.5 1.5 0 0 0 1.5 12H6v2h-.5a.5.5 0 0 0 0 1H7v-4H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5H7V2z" />
        </svg>
        <p style="font-size: 24px; letter-spacing: 5px;" class="title-content">BITSYMPHONY</p>
    </div>
    <div class="line-group">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    {% if configs.initial_run == "true" %}
    <div x-data="
        {
            step: 1,
            formData: {
                username: '',
                defaultDirectory: '{{ configs.default_directory }}',
                fileChunkSize: '{{ configs.chunk_size }}',
                testIntervalTime: '{{ configs.test_interval }}',
            },
            isLastStep: false,

            nextStep() {
                if (this.step === 1 && !this.formData.username) {
                    return;
                }

                this.step++;
                this.isLastStep = (this.step === 4);
            },

            prevStep() {
                this.step--;
                this.isLastStep = false;
            },

            async submitConfig() {
                try {
                    const response = await fetch('/api/config/save', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(this.formData)
                    });

                    if (response.ok) {
                        console.log('Configuration saved successfully');
                        await Alpine.store('animeTransition').animateConfigCompletion(this.formData);
                    }
                } catch (error) {
                    console.error('Error saving configs:', error);
                }
            }
        }
    ">
        <div class="form-area">
            <div x-show="step === 1" style="text-align: center;">
                <h1 style="font-weight: bold; text-align: left;">Welcome</h1>
                <p>Username</p>
                <input x-model="formData.username" placeholder="Please Enter Your Username" type="text"
                    tabindex="1"></input>
            </div>
            <div x-show="step >= 2" style="text-align: center;">
                <h1 style="font-weight: bold; text-align: left;">Configuration</h1>
                <p>Default Directory</p>
                <input x-show="step > 1" x-model="formData.defaultDirectory" placeholder="Default Directory" type="text"
                    tabindex="1"></input>
                <input x-show="step > 2" x-model="formData.fileChunkSize" placeholder="File Chunk Size" type="number"
                    default="{{ configs.chunk_size }}" class="additional-inputs" tabindex="1"></input>
                <input x-show="step > 3" x-model="formData.testIntervalTime" placeholder="Test Interval Time"
                    class="additional-inputs" type="number" default="{{ configs.test_interval }}" tabindex="1"></input>
            </div>
            <button x-show="step < 4" @click="nextStep" type="button" class="draw-border">Continue</button>
            <button x-show="isLastStep" @click="submitConfig" type="button" class="draw-border">Finish</button>
            <button x-show="step > 1" @click="prevStep" type="button" class="draw-border draw-border-back">Back</button>
        </div>
        <div class="helper-text">
            <p x-show="step === 1">Enter your username so we&apos;ll know what to call you</p>
            <p x-show="step === 2">The default directory is where system generated files with test data will exist.
                <br /> All content can be managed from the app.
            </p>
            <p x-show="step === 3">This value dictates the number of bytes used to read the file at the fixed number of
                bytes in memory. </p>
            <p x-show="step === 4">The time taken between tests to observe changes in system performance. <br />
                The value can be changed later in system settings. </p>
        </div>
        <div class="welcome-text">
            <h1 class="welcome-text-name"></h1>
        </div>
    </div>
    {% else %}
    <div class="text-area">
        <h1>Welcome Back {{ configs.username }}</h1>
    </div>
    {% endif %}
</div>

<script>
    const backgroundImg = document.querySelector(".background-image");
    const lineGroup = document.querySelector('.line-group');

    {% if configs.initial_run == "true" %}
    const formArea = document.querySelector(".form-area");
    const title = document.querySelector("#title");
    const helperText = document.querySelector(".helper-text");
    const welcomeText = document.querySelector(".welcome-text");
    const welcomeName = document.querySelector(".welcome-text-name");

    document.addEventListener('alpine:init', () => {
        Alpine.store('animeTransition', {
            async animateConfigCompletion(formData) {
                anime.timeline({
                    easing: 'easeInOutQuad'
                })
                    .add({
                        targets: formArea,
                        duration: 500,
                        translateX: ['0%', '-100%'],
                        opacity: [1, 0],
                        complete: () => {
                            formArea.style.display = 'none';
                        }
                    })
                    .add({
                        targets: title,
                        duration: 500,
                        translateX: ['0%', '200%'],
                        opacity: 0,
                        complete: () => {
                            title.style.display = 'none';
                        }
                    })
                    .add({
                        targets: [helperText],
                        duration: 500,
                        translateX: '100%',
                        opacity: [1, 0],
                        complete: () => {
                            helperText.style.display = 'none';
                        }
                    })
                    .add({
                        targets: lineGroup.querySelectorAll('.line'),
                        // top: '-100%',
                        opacity: [1, 0],
                        duration: 500,
                        delay: anime.stagger(100)
                    })
                    .add({
                        targets: backgroundImg,
                        duration: 1000,
                        clipPath: ['circle(40% at 100% 0)', 'circle(150% at 50% 50%)'], // Expanding the circle to full screen
                        filter: ['grayscale(100%) brightness(0)', 'grayscale(0%) brightness(2)'],
                    })
                    .add({
                        targets: welcomeText,
                        translateY: [50, 0],
                        opacity: [0, 1],
                        duration: 500,
                        // delay: anime.stagger(100),
                        begin: () => {
                            welcomeText.style.display = 'flex';
                            welcomeName.innerHTML = `Welcome ${formData.username}`;
                        }
                    });
            }
        });
    });
    {% else %}
    console.log("Not the initial run");
    const textArea = document.querySelector(".text-area");

    window.addEventListener('load', () => {
        const animation = anime.timeline({
            easing: 'easeInOutQuad'
        })
            .add({
                targets: lineGroup.querySelectorAll('.line'),
                // top: '-100%',
                opacity: [1, 0],
                duration: 500,
                delay: anime.stagger(100)
            })
            .add({
                targets: backgroundImg,
                duration: 1000,
                clipPath: ['circle(40% at 100% 0)', 'circle(150% at 50% 50%)'], // Expanding the circle to full screen
                filter: ['grayscale(100%) brightness(0)', 'grayscale(0%) brightness(2)'],
            })
            .add({
                targets: textArea,
                opacity: [0, 1],
                translateY: ['100%', '0'],
                duration: 1000
            });

        animation.finished.then(() => {
            setTimeout(() => {
                window.location.href = "/dashboard";
            }, 0);
        });
    });
    {% endif %}
</script>
{% endblock %}