{% extends "../index.peb" %}

{% block content %}
<div class="dashboard-container">
    <div class="side-nav">
        {% include "../sidebar/sidebar.peb" %}
    </div>
    <div class="content">
        {% block dashboardcontent %}
        {% endblock %}
    </div>
</div>
<script>
    const getOSDetails = async () => {
        await fetch("/api/resource_monitor/os_details", {
            method: 'GET',
            redirect: "follow",
        }).then((response) => {
            return response.json();
        }).then((result) => {
            console.log(result);
        }).catch((error) => {
            console.error(error);
        });
    };

    getOSDetails();
</script>
{% endblock %}