{% extends "../index.peb" %}

{% block content %}
<div class="dashboard-container">
    <div class="side-nav">
        {% include "../sidebar/sidebar.peb" %}
    </div>
    <div class="content">
        {% if requestPath == "/dashboard" %}
            <h3>Dashboard</h3>
            <div class="upper-dashboard-cards">
                <div class="dashboard-card">
                    <p>Tests</p>
                    <p>75</p>
                    <p>15</p>
                </div>
                <div class="dashboard-card">
                    <p>Tests</p>
                    <p>75</p>
                    <p>15</p>
                </div>
            </div>
        {% else %}
            {% block dashboardcontent %}
            {% endblock %}
        {% endif %}
    </div>
</div>
<script>
    const getOSDetails = async () => {
        await fetch("/api/resource_monitor/os_details", {
            method: 'GET',
            redirect: "follow",
        }).then((response) => {
            return response.json();
        }).then((result) => {
            console.log(result);
        }).catch((error) => {
            console.error(error);
        });
    };

    getOSDetails();
</script>
{% endblock %}