.side-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* background-color: var(--background-color); */
    background-color: #F1F2F7;
    height: inherit;
    color: white;
    /* padding: 32px; */
}

.side-nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1F384C;
    padding: 16px 32px 0 32px;
}

.side-nav-title i {
    cursor: pointer;
}

.side-nav-title i::before {
    font-size: 18px;
}

.side-nav-title p {
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 24px;
    position: relative;
}

.side-nav h1::after {
    position: absolute;
    content: "";
    width: inherit;
    height: 2px;
    background-color: white;
}

.side-nav-links {
    /* margin-top: 16px; */
    padding: 0 32px;
}

.side-nav-links ul {
    list-style: none;
    padding-left: 0;
}

.side-nav-link {
    padding: 16px;
    border-radius: 0px;
    color: white;
    /* background-color: rgba(var(--primary-color-hex), .6); */
    background-color: rgba(90, 106, 207, .1);
    border-radius: 5px;
}

.side-nav-link a {
    color: #5A6ACF;
}

.side-nav-link:not(:first-child) {
    margin: 16px 0;
}

.side-nav-link.active {
    /* background-color: var(--primary-color) !important; */
    /* background-color: #707FDD; */
    background-color: #3d4ba0;
    transition: .5s ease-in;
}

.side-nav-link.active .side-nav-link-parent p, .side-nav-link.active .side-nav-link-parent i {
    color: white;
}

.side-nav-link.active a {
    color: white !important;
}

.side-nav-link:hover {
    /* background-color: var(--primary-color) !important; */
    background-color: #3d4ba0;
    transition: .5s ease-in;
    /* color: black; */
}

.side-nav-link:hover .side-nav-link-parent p, .side-nav-link:hover .side-nav-link-parent i {
    color: white;
}

.side-nav-link:hover a {
    color: white;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #C8CBD9;
    margin: 16px 0;
}

a {
    text-decoration: none;
    color: white;
}

.side-nav-link-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: #5A6ACF;
}

.side-nav-link-parent i {
    /* cursor: pointer; */
}

.side-nav-child-links {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.side-nav-child-links a {
    margin-top: 16px;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
