.side-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: var(--background-color);
    height: inherit;
    color: white;
    padding: 32px;
}

.side-nav-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-nav-title i {
    cursor: pointer;
}

.side-nav-title i::before {
    font-size: 18px;
}

.side-nav-title p {
    text-align: left;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 24px;
    position: relative;
}

.side-nav h1::after {
    position: absolute;
    content: "";
    width: inherit;
    height: 2px;
    background-color: white;
}

.side-nav-links {
    margin-top: 16px;
}

.side-nav-links ul {
    list-style: none;
    padding-left: 0;
}

.side-nav-link {
    margin: 16px 0;
    padding: 16px;
    border-radius: 0px;
    background-color: rgba(var(--primary-color-hex), .6);
}

.side-nav-link.active {
    background-color: var(--primary-color) !important;
    transition: .5s ease-in;
}

.side-nav-link:hover {
    background-color: var(--primary-color) !important;
    transition: .5s ease-in;
    /* color: black; */
}

a {
    text-decoration: none;
    color: white;
}

.side-nav-link-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.side-nav-link-parent i {
    /* cursor: pointer; */
}

.side-nav-child-links {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.side-nav-child-links a {
    margin-top: 16px;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}
