:root {
    --green-accent: #16DA8C;
}

body, html {
    margin: 0;
    font-family:  "Manrope", "Quicksand", serif !important;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px !important;
}

.line-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; 
    overflow: hidden;
    transform: translateX(-310px);
}

.line {
    position: absolute;
    width: 120%; /* Extend beyond the viewport width for a complete diagonal */
    height: 10px; /* Thickness of the line */
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    transform: rotate(135deg); /* Diagonal effect */
}
.line:nth-child(1) {
    top: 20%; /* Position of the first line */
    left: -10%;
}

.line:nth-child(2) {
    top: 40%; /* Position of the second line */
    left: -10%;
}

.line:nth-child(3) {
    top: 60%; /* Position of the third line */
    left: -10%;
}

.form-area {
    width: 33%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 64px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-area p {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
}

.form-area input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
    color: white;
}

.form-area button {
    background-color: var(--green-accent);
    padding: 16px 84px;
    border: none;
    margin-top: 64px;
    color: white;
    border-radius: 4px;
}

.form-area input:focus-visible {
    outline-color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    border-bottom: 1px solid white !important;
}

.form-area input:focus {
    outline: none;
    border-bottom: 1px solid white;
     /* Custom border color */
}